@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100%;
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    line-height: 24px;
    background-color: #141418;
}

/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

strong{
    font-weight: 600;
}

.rectangle {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    height: 652px;
    width: 100vw;
    background: linear-gradient(180deg, rgb(218, 70, 23) 0%, rgb(16, 142, 147) 100%);
}

h4 {
    width: 555px;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #ffffff;
    letter-spacing: 0;
}


.event-repeat {
    width: 24px;
    height: 24px;
}

.image {
    width: 510px;
    height: 510px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.img {
    width: 510px;
    height: 510px;
    object-fit: cover;
}

.button {
    all: unset;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    top: -537px;
    left: 17px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
}

.button-core {
    justify-content: center;
    gap: 12px;
    padding: 12px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: #141418;
    border-radius: 35px;
    border: 1px solid;
    border-color: #ffffff;
    display: inline-flex;
    align-items: center;
}

.union-wrapper {
    position: relative;
    width: 30.65px;
    height: 30.65px;
    border-radius: 15.32px;
    border: 1px solid;
    border-color: #ffffff;
}

.union {
    position: absolute;
    width: 10px;
    height: 17px;
    top: 6px;
    left: 9px;
}

.content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.magic {
    position: relative;
    width: 61px;
    height: 61px;
    top: -517px;
    left: 487px;
}

.button-core-wrapper {
    all: unset;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    top: -134px;
    left: 356px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
}

.frame {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 16px;
    padding: 16px;
    margin: 16px;
    background-color: #2a2a2f;
    border-radius: 16px;
    overflow: hidden;
}

.frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
}

.text-wrapper-2 {
    position: relative;
    margin-top: -1px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
}

.text-wrapper-4 {
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
}

.overlap-6 {
    position: relative;
    margin: 10px 10px;
    height: 173px;
    top: -416px;
    left: 169px;
}

.box-1 {
    padding-left: 26px;
}

.adesivo {
    position: relative;
    top: -416px;
    z-index: 10;
    left: 591px;
}

.vector-3 {
    position: absolute;
    width: 546px;
    height: 190px;
    top: 442px;
    left: 0;
}

.button-2 {
    all: unset;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    top: 402px;
    left: 408px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
}


.overline {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 700;
    color: #b6c1cc;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 16px;
}



h3 {
    position: relative;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 700;
    font-size: 46px;
    line-height: 62px;
    color: #ffffff;
    letter-spacing: 0;
}

.text-wrapper-9 {
    position: relative;
    align-self: stretch;
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}


.button-3 {
    all: unset;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
}

.content-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 30px;
    background: linear-gradient(180deg, rgb(217, 70, 22) 0%, rgb(16, 142, 146) 100%);
}

.img-2 {
    position: relative;
    width: 24px;
    height: 24px;
}

.desconto {
    background-color: #108e92;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: 120px;
}

.preco-original {
    text-decoration: line-through;
    color: #7f8c8d;
    /* Cinza claro */
}

.preco-novo {
    font-weight: bold;
    font-size: 4rem;
}

.beneficios li {
    font-size: 1.2rem;
}

.frame-11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 16px;
    background-color: #2a2a2f;
    border-radius: 16px;
    overflow: hidden;
}

.vector-4 {
    position: relative;
    width: 585px;
    height: 214px;
    left: 354px;
}

.box-2 {
    display: flex;
    background-color: #2a2a2f;
    border-radius: 10px;

}

.box-2-direito {
    padding: 70px;
    width: 60%;
}

.box-2-esquerdo {
    position: relative;
    padding: 70px;
    width: 40%;
}

.box-2-esquerdo {
    background-color: #0c0c0e;
}

.adesivo-texto {
    position: absolute;
    width: 178px;
    height: 178px;
    top: -75px;
    left: 398px;

}

.vector-5 {
    position: relative;
    width: 585px;
    height: 84px;
    /* top: -1px; */
    left: 354px;
}

.frame-13 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0px 0px;
    position: relative;
    flex: 0 0 auto;
}

.frame-14 {
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.linha_detalhe {
    position: relative;
    width: 70vw;
    height: 1px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.85) 0%, rgba(254.66, 254.66, 254.66, 0) 100%);
}

.resposta {
    background-color: #2a2a2f;
    border-radius: 8px;
    padding: 15px;
}


@media (max-width: 767px) {
    #player {
        margin-top: 25px;
        width: 90vw;
        /* Largura total */
        height: 50vw;
        /* Altura automática */
    }

    .oculta-mobile {
        display: none;
    }

    .image {
        width: 95vw;
        height: 95vw;
    }

    .button-core-wrapper {
        top: -87px;
        left: 14px;
    }

    .rectangle {
        height: 1130px;
    }

    h4 {
        width: auto;
    }

    .button {
        top: -414px;
    }

    .box-2-direito {
        display: none;
    }

    .box-2-esquerdo {
        width: 100vw;
        padding: 15px;
    }

    .frame-14 {
        width: 80vw;

    }
    .frame {        
        margin: 0px;
    }
    .linha_detalhe {
        width: 90vw;
        height: 3px;
    }
}

a{
    cursor: pointer !important;
}

